body {
  text-align: center;
}

.cartList {
  width: 40%;
  border: 1px solid black;
  padding-bottom: 10px;
  padding-right: 100px;
  float: right;
  margin-right: 100px;
}

.productList {
  width: 40%;
  float: left;
}
